.articleWrapper {
    padding: 1rem;
}

.articleContent {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    img {
        margin: 0 auto;
        max-width: 100%;
    }

    hr {
        margin: 20px 0px;

        + p {
            margin-top: 0;
        }
    }

    p {
        margin: 0px 0px 5px;

    }
}