@import '../../styles/variables.scss';

@keyframes Step {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.contentContainer {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 303px;
        opacity: 0;
        + .step {
            margin-left: -22px;
        }

        &:first-of-type{
            animation: Step 2s 0.4s ease-in-out forwards;
        }

        &:nth-of-type(2) {
            animation: Step 2s 2s ease-in-out forwards;
        }

        &:nth-of-type(3) {
            animation: Step 2s 3s ease-in-out forwards;
        }

        &:last-of-type{
            animation: Step 2s 4s ease-in-out forwards;
            margin-left: -30px;
        }

        span {
            font-weight: 400;
            font-size: 2rem;
            color: var(--white);
        }

        .arrow {
            background-repeat: no-repeat;
            background-size: contain;
            width: 303px;
            height: 241px;
        }

        .name {
            margin-top: 1rem;
            color: var(--white);
            font-size: 1rem;
        }
    }


    @media screen and (max-width: $mobileBreakpoint) {
        max-width: 100%;
        overflow-x: scroll;
        padding-bottom: 1rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        &::-webkit-scrollbar{
            display: none;
        }

        .step {
            max-width: 260px;
            .arrow {
                width: 240px;
                height: 192px;
            }
        }
    }
}